# Node
node_modules/
build/
dist/

# Python
__pycache__/
*.pyc
.env

# Java
target/
*.class
*.jar

# Editors and OS
.vscode/
.DS_Store
.idea/


### ML model ###
anomaly-detector\*\.venv
anomaly-detector\*\runs_yolo\test_preds*
anomaly-detector/inference-uploads/